language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t ojaspatharkar/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true ojaspatharkar/react-test npm test

after_success:
  - docker build -t ojaspatharkar/multi-client ./client
  - docker build -t ojaspatharkar/multi-nginx ./nginx
  - docker build -t ojaspatharkar/multi-server ./server
  - docker build -t ojaspatharkar/multi-worker ./worker
  #Login into docker hub
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  #Push images to dockerhub
  - docker push ojaspatharkar/multi-client
  - docker push ojaspatharkar/multi-nginx
  - docker push ojaspatharkar/multi-server
  - docker push ojaspatharkar/multi-worker

deploy:
  provider: elasticbeanstalk
  region: "us-east-2"
  app: "multi-docker"
  env: "MultiDocker-env"
  bucket_name: "elasticbeanstalk-us-east-2-821909819878"
  bucket_path: "docker-multi"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
